body {
  height: 100%;
  background-color: #eee;
  font-size: 15pt;
}

.main {
  margin-top: 10%;
}
.main_content {
  text-align: center;
}

.info {
  text-align: right;
}

.info a {
  color: #ccc;
  font-size: 10pt;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
